.answer-list-item {
  @apply !border-2 !border-default-100 !rounded-lg my-1 md:my-2 p-1 md:p-2;
}

.answer-list-item[data-selected="true"] {
  @apply !bg-primary-300 border-primary-300;
}

.answer-list-item[data-selected="true"].correct,
.answer-list-item.correct {
  @apply !bg-success-50 !border-success;
}

.answer-list-item[data-selected="true"].wrong,
.answer-list-item.wrong {
  @apply !bg-danger-50 !border-danger;
}
